<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Singin</title>
</head>
    <body>
        <div>
            <form action="/signin" method="post">
                <h1>SIGN IN</h1>
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    <br>
                    <br>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <br>
                    <br>
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>

        <div>
            <form action="/login" method="post">
                <h1>LOG IN</h1>
                <div class="container">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" required>
                    <br>
                    <br>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <br>
                    <br>
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    </body>
</html>